.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-color);
    color: var(--text-accent-color);
    border-radius: 10px 10px 0px 0px;
}

.icons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}