.header {
    width: 100%;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.headerContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.headerLogo {
    height: 50px;
    width: 125px;
    object-fit: cover;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    gap: '1rem';
}
.headerNav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s, transform 0.15s, box-shadow 0.2s;
}
#welcomeMessage {
    color: var(--text-accent-color);
}

.headerNav a:hover {
    background: var(--accent-color);
    transform: scale(1.01);
    box-shadow: 0 4px 16px rgba(0,0,0,0.16);
    cursor: pointer;
}